header {
    padding-bottom: 20px;
    text-align: center;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.head {
    width: 30%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: xx-large;
    font-weight: 700;
}

.back-button:hover{
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 32px;
}

.avatar {
    width: 40px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.avatar img:hover{
    cursor: pointer;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}