header{
    width: 100%;
    height: 104px;
    background-color: transparent;
  }
  
  .header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 32px;
    color: #F44788;
  }
  
  h4{
    font-size:xx-large;
    font-weight: 700;
  }