header {
    height: 104px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
    text-align: center;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-left: 10%;
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.avatar {
    width: 40px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar img{
    width: 100%;
    border-radius: 100%;
}

.avatar img:hover{
    cursor: pointer;
}