.profile-header {
    width: 100%;
    height: 104px;
    text-align: center;
    background-color: transparent;
}

.profile-head {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: xx-large;
    font-weight: 700;
}

.back-button:hover{
    cursor: pointer;
}

.title {
    width: 50%;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #F44788;
}

.title:hover {
    cursor: pointer;
}

.avatar {
    width: 35px;
    height: 30px;
    background-color: #ccc;
    border-radius: 70%;
    margin-right: 10px;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.avatar img:hover{
    cursor: pointer;
}