h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
    height: 150px;
}

.file-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}



.file{
    width: 9%;
}

#image{
    width: 100%;
    overflow: hidden;
}

.file-name {
    width: 90%;
    font-size: 14px;
    color: #888;
    margin-left: 10px;
}

.submit-button {
    background-color: #ACA0EB;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #7F6AEE;
}
