.signup-container {
    width: 30%;
    padding: 20px 0;
  
}

.signup-container h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.upload-button {
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: #ddd;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}

.profile-label {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.error-message-signup{
    margin-top: 0;
    text-align: left;
    color: red;
    font-size: 0.5em;
    height: 1em;
    display: block;
}