.intro {
    width: 640px;
    height: 244px;
 
    margin: 20px 0 10px 0;
}

.intro-word{
    font-family: 'Pretendard Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: center;
    color: #fff;
    margin-top: 3rem;
}

.intro p {
    text-align: center;
    font-size: 1.2em;
}

.write-post-button{
    float: right;
    text-align: right;
}

.write-post {
    background-color: #6fd94f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.write-post:hover{
    background-color:#6fd94f;
}

#posts {
    height: 2000px;
    margin-top: 20px;
    text-align: center;
}

.post {
    width: 600px;
    height: 204px;
    background-color: #222;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.post:hover{
  background-color: #9999;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-header h2 {
    justify-content: left;
    white-space: nowrap;          
    overflow: hidden;             
    text-overflow: ellipsis;                      
    max-width: 300px;             
    margin: 0;
    font-size: 30px;
    color: rgb(203, 203, 203);
}

.post-header .date {
    color: #888;
    font-size: 0.9em;
}

.post-info {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #888;
    border-bottom: 1px solid #999;
}

.post-info > span{
    float: left;
    margin: 0 1rem 1rem 0;
}
.author {
    display: flex;
    align-items: center;
}

.author span {
    font-weight: bold;
}

.author .avatar {
    width: 34px;
    height: 34px; 
}
.author .avatar img {
    width: 34px;
    height: 34px;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  