.post-field{
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    width: 30%;
    padding: 0 20% 0 20%;
    margin-top: 20px;    
}

article h2 {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.author {
    width: 544px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info {
    
    display: flex;
    text-align: left;
}

.author-name {
    font-weight: bold;
    margin-right: 10px;
}

.date {
    color: #888;
    font-size: 0.9em;
}

.post-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    float: right;
}


#btnbtn{
    background-color: #fff;   
    color: black;
    border: 1px solid gray;
    border-radius: 20%;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer; 
}

.post-content {
    width: 544px;
    margin-bottom: 20px;
}

.post-img{
    width: 544px;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}

.post-img img{
    width: 100%;
    height: 100%;
}

.post-article{
    text-align: center;
}

.post-stats {
    width: 544px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 30%;
    height: 100%;
    background-color: #999;
    border-color: black;
    border-radius: 10px;
}

#likesCount:hover{
    cursor: pointer;
}

.comments-section {
    width: 544px;
    margin-top: 20px;
}

.comment-field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.comment-form {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-form textarea {
    resize: none;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment-submit {
    align-self: flex-end;
    background-color: #ACA0EB;
    color: black;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border-color:lightgray;
    padding: 5px 10px;
    cursor: pointer;
}

.comment {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.comment-author {
    display: flex;
    justify-content: space-between;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.comment-actions button {
    background-color: #fff;
    color: #999;
    border-color: #999;
    border-radius: 30%;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.modal{
    position:fixed;
    display:none;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    
}

.modal_body{
    position:absolute;
    top:50%; 
    width:400px;  
    padding:40px;  
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius:10px;  
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);  
    transform:translateY(-50%); 
}


.delete-btn{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

#cancel{
    background-color: black;
    color: #fff;
    transition: background-color 0.3s ease;
}

#cancel:hover{
    cursor:pointer;
    background-color: gray;
}

#ok{
    background-color: #ACA0EB;
    color: black;
    transition: background-color 0.3s ease;
}

#ok:hover{
    cursor:pointer;
    background-color: #7F6AEE;
}

.delete-modal-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal-group button {
    margin: 10px;
    width: 80px;
    height: 50px;
    border-radius: 9%;
}




.comment-modal{
    position:fixed;
    display:none;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

.comment-modal_body{
    position:absolute;
    top:50%; 
    width:400px;  
    padding:40px;  
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius:10px;  
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);  
    transform:translateY(-50%); 
}


.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

#comment-cancel{
    background-color: black;
    color: #fff;
    transition: background-color 0.3s ease;
}

#comment-cancel:hover{
    cursor:pointer;
    background-color: gray;
}

#comment-ok{
    background-color: #ACA0EB;
    color: black;
    transition: background-color 0.3s ease;
}

#comment-ok:hover{
    cursor:pointer;
    background-color: #7F6AEE;
}