@font-face {
  font-family: 'GameOfSquids-1GMVL';
  src: url('/public/fonts/GameOfSquids-1GMVL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: #F44788;
}

body {
  margin: 0;
  font-family: 'GameOfSquids-1GMVL', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
