@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

body {
    background: #F4F5F7;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

.container {
    width: 100%;
    height:100%;
    margin: 0 auto;
    background-color: #f4f5f7;
    border-radius: 8px;
  
}