.login-container {
    margin-top: 5%;
    padding: 2rem;
    width: 392px;
    height: 221px;
    max-width: 400px;
    border-radius: 8px;
  }
  
  .login-title {
    text-align: center;
    font-size: 22px;
    color: #fff;
  }
  
  .login-container .helper-text {
    margin: 1rem 0 1.5rem 0;
    color:red;
  }
  
  .login-field{
    margin-top: 0%;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  
  .input-group-login {
    margin-bottom: 1.2rem;
  }
  
  .input-group-login label {
    display: block;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .input-group-login input {
    width: 360px;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  #login-button {
    width: 383px;
    margin-top: 0px;
    border-radius: 30px;
    height: 37px;
    margin-bottom: 40px;
  }
  
  .login-button {
    width: 100%;
    padding: 0.8rem ;
    background-color: #8a3d5a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-button.active {
    background-color: #F44788;
    cursor: pointer;
  }
  
  .error-messages {
    margin-top: 0;
    text-align: left;
    color: red;
    font-size: 0.5em;
    height: 1em;
    display: block;
  }
  
  #signin-button{
    width: 90px;
    height: 30px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .signin-button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .signin-button:hover{
    background-color: lightgray;
    cursor: pointer;
    color: #000;
  }